@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.project-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 45px auto;
    grid-template-columns: 270px auto;
}
/* top bar */
.top-bar {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #9DAD7F;
    display: flex;
}
.top-bar-header {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 20px;
}
/* left side nav bar */
.left-side-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
    background-color:#C7CFB7;
    padding-top: 2rem;
    gap: 1rem;
}

.inbox,
.today,
.upcoming {
    padding-left: 1rem;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}
.projects-container >div{
    padding: 1rem;
}
.left-nav-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.add-project-button {
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
}
.expand-button {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
/* list of to do items */
.todoitems-container {
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    background-color: #F7F7E8;
    display: flex;
    justify-content: center;
}
/* container containing items to do */
.items-container {
    width: 50%;
    padding: 2rem;
}
.current-project-header{
    display: flex;
}
/* individual item cards */
.item-card,
.add-task{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid #C7CFB7;
    border-bottom: 1px solid #C7CFB7;
}

.card-left {
    display: flex;
    gap: 0.5rem;
}

.check-button {
    width: 1rem;
    height: 1rem;
    background-color: #F7F7E8;
    border-radius: 5px;
    cursor: pointer;
}
.check-button:hover {
    background-color: #a7a797;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buttons > img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.add-task {
    justify-content: center;
}
.add-task:hover {
    justify-content: center;
    background-color:#aeb59f;
    cursor: pointer;
}
.add-task-left{
    display: flex;
    gap: 0.25rem;
}
.add-task-button {
    width: 1rem;
    height: 1rem;
}

/* modal pop up */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    backdrop-filter: blur(8px);
}

.modal-content {
    width: 1200px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    position: relative;
}


.modal-header {
    background-color: #F7F7E8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.modal-title {
    font-size: 2rem;
    padding-top: 0.25rem;
    padding-left: 1rem;
}
.close-popup {
    font-size: 2rem;
    padding-top: 0.25rem;
    padding-right: 1rem;
    cursor: pointer;
}

.form-container {
    margin: 4rem;
    display: flex;
    flex-direction: column;
}
